@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --Gold-500: hsl(31, 77%, 52%);
    --Cyan-800: hsl(184, 100%, 22%);
    --Green-950: hsl(179, 100%, 13%);
    --Grey: hsl(0, 0%, 95%);
}

body {
    max-width: 1440px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: var(--Grey);
}

.wrapper {
    margin-inline: auto;
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    overflow: hidden;
}

.first-section {
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    background-color: var(--Gold-500);
}

.first-section .btn {
    color: var(--Gold-500);
}

.first-section .paragraph {
    max-width: 190px;
}

.second-section {
    width: 305px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    background-color: var(--Cyan-800);
}

.second-section .paragraph {
    letter-spacing: 1px;
}

.second-section .btn {
    color: var(--Cyan-800);
}

.third-section {
    width: 306px;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 2rem;
    background-color: var(--Green-950);
}

.third-section .paragraph {
    max-width: 204px;
}

.third-section .btn {
    color: var(--Green-950);
}

.image {
    margin-bottom: 2rem;
}

.heading {
    font-family: "Big Shoulders", sans-serif;
    color: var(--Grey);
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.paragraph {
    font-weight: 400;
    font-family: "Lexend Deca", sans-serif;
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 4rem;
    font-size: 0.9375rem;
    line-height: 2;
}

.btn {
    font-family: "Lexend Deca", sans-serif;
    font-size: 0.75rem;
    background-color: var(--Grey);
    text-decoration: none;
    text-align: center;
    padding: 15px 30px;
    border-radius: 25px;
    border: 1px solid #fff;
}

.btn:hover,
.btn:active {
    color: #fff;
    background-color: transparent;
    border: 1px solid #fff;
}


@media screen and (max-width:26.25rem){
    body{
        padding: 3rem 1rem;
        max-width: 420px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .wrapper{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 95%;
        margin-inline: auto;
    }
}
